@page "/"
@using GameOverBoardGame.Model;

<h1>GameOver board game</h1>

@code {
    GameBoard gameBoard = new GameBoard(2);
}

@*@foreach (Card card in gameBoard.ShuffledCards)*@
@*{
    <p>@card.ToString()</p>
}*@

@foreach (GamePiece piece in gameBoard.Board)
{
    <span>@piece.Style</span>
}